:root {
    --primary: #137a42;
    --white: #fbf8f2;
    --main-screen-width: 60ch;
    --aside-screen-width: 40ch;
    --1-col-fullscreen-width: calc(100vw - 2ch);
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.5em;
    background-color: var(--white);
    margin-top: 4em;
    display: flex;
}

header,
main,
footer {
    width: var(--main-screen-width);
    margin-right: auto;
    padding-right: 4ch;
}

aside {
    width: var(--aside-screen-width);
    margin-left: auto;
    padding-left: 4ch;
    margin-right: 4ch;
    text-align: right;
    font-size: large;

    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

address {
    margin-top: 2em;
    margin-bottom: 2em;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 1%;

    +cite {
        display: block;
        font-size: small;
        text-align: right;
        font-style: normal;
        margin-top: 0.5em;
    }
}

ul {
    line-height: 2em;
}

a {
    text-decoration: none;
    color: var(--primary);

    &:hover {
        text-decoration: underline;
    }

    &.nav-selected {
        font-weight: bold;
    }
}

address {
    font-style: normal;
}

@media screen and (max-width: 100ch) {
    body {
        max-width: var(--main-screen-width);
        display: inline;
        padding: 2ch;
    }

    header,
    main,
    footer {
        margin: auto;
        width: var(--1-col-fullscreen-width);
        padding-right: 0;
    }

    aside {
        width: var(--1-col-fullscreen-width);
        padding-left: 0;
        margin: auto;
        text-align: center;
    }
}