<img src="assets/img/hero.jpg">
<cite>📸 Jessareé Lim / 2023</cite>
<p>
    Hello, world! I'm Justin Rainier Go, but you may call me Justin. I'd describe myself as someone who is
    logical
    and meticulous, as a computer scientist like me should be
    when creating efficient and effective software solutions. Thus, I sometimes spend a lot of time
    ensuring the correctness of whatever I write, be it a piece of code or this little writeup.
</p>
<h2>Interests</h2>
<ul>
    <li>natural language processing</li>
    <li>accessibility</li>
    <li>learning Japanese</li>
</ul>
<h2>Hobbies</h2>
<ul>
    <li>retro video games</li>
    <li>slice-of-life anime and manga</li>
</ul>