<h2>Projects</h2>

<article>
    <h3><a href="https://github.com/jrgo7/ccapdev-mco" target="_blank">FrogCritic</a></h3>
    <img src="assets/img/frogcritic.png">
    <p>A full-stack video game review web application developed as part of a three person team submitted for a web
        development course in <em>De La Salle University</em>.</p>
</article>

<article>
    <h3><a href="https://github.com/jrgo7/vgm-db" target="_blank">A Video Game Music Database</a></h3>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fytROeUQdBM?si=AAK9MtiOPFjqm6Zh"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>A video game music database schema and expected common database operations submitted for <em>CS50SQL 2024</em>.
    </p>
</article>

<article>
    <h3><a href="https://github.com/KCandy24/CCINFOM-S14-Group-1" target="_blank">AnimeList</a></h3>
    <img src="assets/img/animelist.png">
    <p>A collaboration between a team of four to develop a GUI app with an SQL database using the MVC framework, submitted for <em>De La Salle University</em>.
    </p>
</article>

<article>
    <h3><a href="https://github.com/jrgo7/start-page-maker" target="_blank">Simple Start Page Maker</a></h3>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/zLNRZojZTgg?si=uBMuKbRLWdTVz7Ob"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>A Python TKinter GUI app that takes in a list of bookmarks and outputs HTML submitted for <em>CS50x 2024</em>.
    </p>
</article>

<article>
    <h3><a href="https://github.com/jrgo7/p5tb-fixed" target="_blank">Persona 5: Text-Based</a></h3>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sZdtsMIobdY?si=L86ZD2fB6hAKT9Ab"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>A terminal user interface-based video game in C developed with minimal prior experience submitted for an
        introductory programming course in <em>De La Salle University</em>.</p>
</article>