html {
    height: 100%;
    background-color: var(--background);
    color: var(--text);
    font-family: "PT Sans", sans-serif;
}

body {
    margin: auto;
    padding: 0 2ch;
    max-width: 80ch;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    border-top: solid 1px var(--text);
    margin-top: 1em;
    text-align: center;
}

nav>ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding-left: 0;
}

nav>ul>li {
    display: block;
    flex-grow: 1;
    width: 100%;
}

nav>ul>li>a {
    display: block;
    font-size: large;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.switch-layout:hover {
    text-decoration: underline;
    cursor: pointer;
}

hgroup {
    text-align: center;
    margin-top: 2em;
}

address {
    text-align: center;
    margin-bottom: 2em;
}

menu {
    font-size: large;
    padding-left: 0;
    margin: 0;
}

h1 {
    font-family: "PT Serif", serif;
    color: var(--primary);
}

main p {
    text-align: justify;
    text-indent: 4ch;
}

main h1+p, main h2+p, main h3+p, main summary+p {
    text-indent: 0ch;
}

img,
embed,
iframe {
    display: block;
    margin: auto;
    max-height: auto;
    border-radius: 14px;
    box-shadow: 1px 1px 14px #bbbbbb;
    width: 100%;
}

embed[type="application/pdf"] {
    aspect-ratio: 1/1.294;
    width: 100%;
}

cite {
    display: block;
    text-align: center;
}

details {
    border-radius: 14px;
    box-shadow: 1px 1px 14px #bbbbbb;
    padding: 0 1rem;
    background: var(--background2);
    margin-bottom: 1rem;
}


details[open] {
    padding-bottom: 1em;
}

summary {
    padding: 1rem 2em 1rem 0;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}