<img src="assets/img/hero.png" alt="Justin ends a lecture on newswriting.">
<cite>Photo by Jessareé Lim, originally posted for The Judenites (2023)</cite>

<h2>Making things that make things convenient</h2>
<p>
    I'm primarily a software engineer with a keen interest in making things that
    make things convenient. Throughout my stay in De La Salle University, I've
    worked on <a role="link" href="#" class="switch-layout" data-layout="works">a number of major course outputs</a>
    that have honed and demonstrated skills applicable in building real-world solutions.
</p>

<h2>Artificially replicating human intelligence</h2>
<p>
    Beyond building solutions, I am also interested in a number of key research
    fields, such as AI. I, alongside my peers, have been contributing towards
    the ultimate goal of artificially replicating human intelligence through
    research projects such as
    <a href="https://gitlab.com/data100-s12-group7" target="_blank">
        our study on the IMDB-WIKI dataset and the DEX method for apparent age estimation.</a>
    I'm also interested in natural language processing, though I haven't
    explored that as much yet.
</p>

<h2>Working hard, playing hard</h2>
<p>
    When I'm not doing any of the above, I'm likely sleeping, or playing some retro video
    games. The simplicity of older titles, like the original Super Mario Bros., made me
    ask myself a long time ago whether or not I could make something similar. Eventually,
    this led me to create a level editor for a certain game I was working on, which made
    making that game more convenient. (This is where my personal notion of "making things
    that make things more convenient" started!) I'm also interested in slice-of-life anime
    and manga, like K-ON and Bocchi the Rock!
</p>
