<h1>Profile Career Keys</h1>
<p>
    SAS3000 is a course in De La Salle University meant to prepare us for our
    on-the-job training/practicum. It is part of the broader Student Affairs
    Services (SAS) series of courses. Throughout the SAS series, we took a
    number of tests, including the Profile Career Keys (PCK) assessment, which
    aimed to identify some potential career options based on our interests,
    values, and aptitudes. Here, I will reflect on each section of my PCK
    results and highlight how they relate to my career development.
</p>

<h2>My Occupational Interests</h2>
<p>
    My PCK results suggest that my top occupational interests are conventional
    and investigative interests. The PCK report defines conventional interests
    as interests that follow set procedures and routines, work with data and
    detail, and have precise standards. Investigative interests, on the other
    hand, are those interests that concern ideas and thinking more than physical
    activity, and which concern facts and figuring out problems mentally.
</p>

<p>
    I believe these reported interests align with my actual interests. For my
    career development, I hope to seek those jobs aligned with procedures and
    data, such as a career in software engineering and machine learning research. 
</p>

<h2>My Work Values</h2>
<p>
    When it comes to my work values, the PCK results write that my top work
    importance values are working conditions, support, recognition, and
    achievement. Working conditions essentially involve getting treated and paid
    well; support involves getting opportunities to be trained and upskilled;
    recognition involves opportunity for advancement and praise; and achievement
    involves using my abilities and strengths to achieve something.
</p>

<p>
    My career development would benefit from knowing my work values as these
    serve to further filter down the extensive list of careers in the world,
    even when considering my occupational interests.
</p>

<h2>My Aptitudes</h2>
<p>
    I am proficient in a lot of things, with my PCK career ability profiler
    telling me I am very skilled in arithmetic reasoning, verbal ability,
    clerical perception, and form perception. Arithmetic reasoning involves
    solving problems with math and logic; verbal ability involves good
    communication; clerical peception involves identifying mistakes in written
    material, while form peception is the same but for objecctis, pictures, and
    drawings.
</p>

<p>
    This is comforting to hear, as this encourages me to seek out those jobs
    which require high proficiency in those skills. Whereas my occupational
    interests and work values filter down the amount of careers that may be
    preferable to me, my aptitudes serve to increase my opportunities and
    career options.
</p>

<h2>My Suggested Career Choices</h2>
<p>
    The PCK results seem to use a weighted average system that takes into
    account my occupational interests, work values, and aptitudes from the
    previous sections. Reading my results, the job matches with the highest
    weighted average suggest a career as a budget analyst, information security
    analyst, or as a computer network support specialist.
</p>

<p>
    These career choices are a little surprising to me because I had not really
    considered them at all prior to reading my PCK results. For my career
    development, it would do me good to explore these unexpected results
    further, especially while looking into my previous results.
</p>