<h2>Works</h2>

<details>
    <summary>An Analysis on Competitive Pokémon Teams</summary>

    <p>
        This was a complete data science project applied to Pokémon Showdown which involved
        data wrangling, exploratory data analysis, data mining, and statistical inferences,
        made to determine patterns in team building, metagame trends, and strategic preferences
        that can be observed from Pokemon Showdown's Gen 5 OU match data.
    </p>

    <p>
        We found that teams tend to be built around the concept of controlling the weather, no
        matter the skill level (measured via ELO) of the players. Despite being based on an older
        generation of Pokémon games, the strategies of each player (the metagame) still evolves
        over time. This project was made for CSMODEL, a data science course in DLSU.
    </p>

    <img src="assets/img/pokemon.png" alt="A poster showcasing the results of the data analysis.">

    <p><a href="https://github.com/jrgo7/csmodel-mco" target="_blank">Link to the GitHub repository</a></p>

</details>


<details>
    <summary>FrogCritic</summary>

    <p>
        This was a full-stack video game review site submitted for CCAPDEV, a web development
        course in DLSU. The frontend uses Bootstrap, while the backend was written in Express
        and connected to a Supabase instance.
    </p>

    <img src="assets/img/frogcritic.png" alt="A web application for reviewing video games.">
    
    <p><a href="https://github.com/jrgo7/ccapdev-mco" target="_blank">Link to the GitHub repository</a></p>
</details>

<details>
    <summary>A Video Game Music Database</summary>

    <p>
        This was a database initialization script, including various schemas and functions for the
        creation of a video game music database. It was submitted as my final project for CS50SQL,
        a Harvard University course on databases.
    </p>

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fytROeUQdBM?si=AAK9MtiOPFjqm6Zh"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p><a href="https://github.com/jrgo7/vgm-db" target="_blank">Link to the GitHub repository</a></p>
</details>

<details>
    <summary>Simple Start Page Maker</summary>

    <p>
        This was a Python TKinter GUI app that takes in a list of bookmarks and outputs HTML. I submitted this
        as my final project for CS50x, Harvard University's introduction to the intellectual enterprises
        of computer science and the art of programming.
    </p>

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/zLNRZojZTgg?si=uBMuKbRLWdTVz7Ob"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p><a href="https://github.com/jrgo7/start-page-maker" target="_blank">Link to the GitHub repository</a></p>
</details>

<details>
    <summary>Persona 5: Text-Based</summary>


    <p>
        This was a video game set in the world of Persona 5, which I submitted for CCPROG1, DLSU's introductory
        programming course. As my very first major course output, it holds a special place in my heart.
        At the time, I had little-to-no experience coding in C (which this game was made in), but I did have some
        experience making games in my iPad and my 3DS through hyperPad and SmileBASIC.
    </p>

    <p>
        Surprisingly, this is still one of the largest projects I've made to date in terms of lines of code: there
        are about 6000 lines of pure freshman madness in here, with all the passion and rookie mistakes included!
    </p>

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sZdtsMIobdY?si=L86ZD2fB6hAKT9Ab"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p><a href="https://github.com/jrgo7/p5tb-fixed" target="_blank">Link to the GitHub repository</a></p>
</details>

