<h2>Publications</h2>

<details>
    <summary>Apparent Age Estimation: Challenges and Outcomes</summary>

    <p>
        This is a data science project on apparent age estimation. Here, we looked into
        the IMDB-WIKI dataset (the largest dataset for apparent age estimation) and the
        Deep EXpectation (DEX) method used to finetune a VGG-16 model for the age estimation task.
    </p>

    <p>
        After replicating the original model, we then tried to improve on it by exploring
        further finetuning on combinations of other known apparent age estimation datasets,
        such as ChaLearn LAP, APPA-REAL, and FairFace; we also explored replacing the cross-entropy
        loss function with mean-variance loss and adaptive mean-residue loss.
    </p>

    <p><a href="https://gitlab.com/data100-s12-group7/demo" target="_blank">Link to the GitLab repo of a demo</a></p>
    <p><a href="https://gitlab.com/data100-s12-group7" target="_blank">Link to the GitLab group of projects</a></p>

</details>

<details>
    <summary>So Near, Yet So Far: How Violence Against Women Blocks the Philippines from True Gender Equality</summary>

    <p>
        Before I became an undergraduate computer science student in DLSU, I was a student in
        Saint Jude Cathoic School (SJCS). While there, I was able to win the Harvard Alumni for Global Women's Empowerment
        essay writing contest in 2022.
    </p>

    <p>
        My piece essentially expressed concern on the ironic situation of the Philippines in terms of women empowerment:
        despite consistently ranking as the best country in Asia in terms of closing the gender gap, violance against
        women remains prevalent in our nation. I proposed that just as the colonial powers have forced their way into
        the country, so too did their societal norms, which have overwritten our feminist precolonial past.
    </p>

    <p>
        <a
            href="https://www.globalwe-essays.org/winning-essays/2022/6/9/so-near-yet-so-far-how-violence-against-women-blocks-the-philippines-from-true-gender-equality-by-justin-rainier-go">
            Link to the winning essay, hosted on Harvard Alumni for Global Women's Empowerment</a>
    </p>
</details>