<h1>Works</h1>

<p>
    These are a list of work samples which I am proud of.
</p>

<details>
    <summary>Apparent Age Estimation: Challenges and Outcomes</summary>

    <p>
        This is an ongoing data science project on apparent age estimation. Here, we looked into
        the IMDB-WIKI dataset (the largest dataset for apparent age estimation) and the
        Deep EXpectation (DEX) method used to finetune a VGG-16 model for the age estimation task.
    </p>

    <p>
        We are currently exploring ways to improve the DEX method through using a mean-variance loss
        function instead of the original cross-entropy loss function, and further finetuning
        on the APPA-REAL and FairFace datasets.
    </p>

    <p><a href="https://gitlab.com/data100-s12-group7" target="_blank">Link to the GitLab group of projects</a></p>

</details>

<details>
    <summary>An Analysis on Competitive Pokémon Teams</summary>

    <p>
        This was a complete data science project applied to Pokémon Showdown which involved
        data wrangling, exploratory data analysis, data mining, and statistical inferences,
        made to determine patterns in team building, metagame trends, and strategic preferences
        that can be observed from Pokemon Showdown's Gen 5 OU match data.
    </p>

    <p>
        We found that teams tend to be built around the concept of controlling the weather, no
        matter the skill level (measured via ELO) of the players. Despite being based on an older
        generation of Pokémon games, the strategies of each player (the metagame) still evolves
        over time. This project was made for CSMODEL, a data science course in DLSU.
    </p>

    <img src="assets/img/pokemon.png" alt="A poster showcasing the results of the data analysis.">

    <p><a href="https://github.com/jrgo7/csmodel-mco" target="_blank">Link to the GitHub repository</a></p>

</details>


<details>
    <summary>FrogCritic</summary>

    <p>
        This was a full-stack video game review site submitted for CCAPDEV, a web development
        course in DLSU. The frontend uses Bootstrap, while the backend was written in Express
        and connected to a Supabase instance.
    </p>

    <img src="assets/img/frogcritic.png" alt="A web application for reviewing video games.">
    
    <p><a href="https://github.com/jrgo7/ccapdev-mco" target="_blank">Link to the GitHub repository</a></p>
</details>

<details>
    <summary>A Video Game Music Database</summary>

    <p>
        This was a database initialization script, including various schemas and functions for the
        creation of a video game music database. It was submitted as my final project for CS50SQL,
        a Harvard University course on databases.
    </p>

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fytROeUQdBM?si=AAK9MtiOPFjqm6Zh"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p><a href="https://github.com/jrgo7/vgm-db" target="_blank">Link to the GitHub repository</a></p>
</details>

<details>
    <summary>Simple Start Page Maker</summary>

    <p>
        This was a Python TKinter GUI app that takes in a list of bookmarks and outputs HTML. I submitted this
        as my final project for CS50x, Harvard University's introduction to the intellectual enterprises
        of computer science and the art of programming.
    </p>

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/zLNRZojZTgg?si=uBMuKbRLWdTVz7Ob"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p><a href="https://github.com/jrgo7/start-page-maker" target="_blank">Link to the GitHub repository</a></p>
</details>

<details>
    <summary>Persona 5: Text-Based</summary>


    <p>
        This was a video game set in the world of Persona 5, which I submitted for CCPROG1, DLSU's introductory
        programming course. As my very first major course output, it holds a special place in my heart.
        At the time, I had little-to-no experience coding in C (which this game was made in), but I did have some
        experience making games in my iPad and my 3DS through hyperPad and SmileBASIC.
    </p>

    <p>
        Surprisingly, this is still one of the largest projects I've made to date in terms of lines of code: there
        are about 6000 lines of pure freshman madness in here, with all the passion and rookie mistakes included!
    </p>

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sZdtsMIobdY?si=L86ZD2fB6hAKT9Ab"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p><a href="https://github.com/jrgo7/p5tb-fixed" target="_blank">Link to the GitHub repository</a></p>
</details>

<details>
    <summary>So Near, Yet So Far: How Violence Against Women Blocks the Philippines from True Gender Equality</summary>

    <p>
        Before I became an undergraduate computer science student in DLSU, I was a student in
        Saint Jude Cathoic School (SJCS). While there, I was able to win the Harvard Alumni for Global Women's Empowerment
        essay writing contest in 2022.
    </p>

    <p>
        My piece essentially expressed concern on the ironic situation of the Philippines in terms of women empowerment:
        despite consistently ranking as the best country in Asia in terms of closing the gender gap, violance against
        women remains prevalent in our nation. I proposed that just as the colonial powers have forced their way into
        the country, so too did their societal norms, which have overwritten our feminist precolonial past.
    </p>

    <p>
        <a
            href="https://www.globalwe-essays.org/winning-essays/2022/6/9/so-near-yet-so-far-how-violence-against-women-blocks-the-philippines-from-true-gender-equality-by-justin-rainier-go">
            Link to the winning essay, hosted on Harvard Alumni for Global Women's Empowerment</a>
    </p>
</details>